sublime2/User/Package\ Control.sublime-settings
sublime2/User/Package Control.last-run
sublime2/User/Package\ Control.cache/
sublime2/User/Package\ Control.system-ca-bundle
sublime2/User/Side\ Bar.sublime-settings
git/gitconfig.symlink
